.col-7{
    display: flex;
    align-items:center;
    justify-content: center;
    
}

#form_container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    height: auto;
    width: 50rem;
}

#form{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    height: auto;
    width: 50rem;
}

#form_title{
    border-style: solid;
    border-width: 1px;
    height: 3rem;
    width: 50rem;
}

#form_recipe_name{
    border-style: solid;
    border-width: 1px;
    height: 3rem;
    width: 50rem;
}

#form_recipe_details{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    border-style: solid;
    border-width: 1px;
    height: 15rem;
    width: 50rem;
}

/* .checkbox{
    border-style: solid;
    border-width: 1px;
    height: auto;
    width: 34rem;
} */

.checkbox-container{
    display: flex;
    border-style: solid;
    border-width: 1px;
    height: auto;
    width: 34rem;
}

.upload_image{
    position:relative;
    bottom: 6.5rem;
    left: 12rem;
    border-style: solid;
    border-width: 1px;
    height: 15rem;
    width: 15rem;
}

#editing_tools{
    border-style: solid;
    border-width: 1px;
    height: 3rem;
    width: 50rem;
}

#enter_mainContent{
    border-style: solid;
    border-width: 1px;
    height: 50rem;
    width: 50rem;
}

#content_input{
    height: 50rem;
    width: 50rem;
}