#recipe_card {
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
  width: 15rem;

  border-radius: 2%;
  object-fit: contain;
}

#coverImage_container {
  height: 15rem;
  width: auto;
  border-radius: 2%;
  overflow: hidden;
}

#coverImage {
  height: 15rem;
  width: 15rem;
}

#recipeInfo_container {
  display: flex;
  flex-wrap: wrap;

  height: 5rem;
  width: 15rem;
}

#recipeName_container {
  font-size: 1.7rem;
  display: flex;
  height: 3rem;
  width: 15rem;
}

#userName_container {
  display: flex;
  width: 8rem;
}

#profile-picture {
  max-width: 120px;
  max-height: 120px;
}

.allergy label {
  user-select: none;
}
