h1 {
  display: flex;
  justify-content: center;
}

#calendar {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 550px;
  margin: auto;
  /* border: border-collapse; */
}

h3 {
  display: flex;
  justify-content: center;
}

.dayMeal {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: auto;
}

.fc-day.selected {
  background-color: aqua;
}

.meal_image {
  height: 200px;
  /* width: 10rem; */
}

.dayMeal {
  display: flex;
  justify-content: center;
  /* height: 200px; */
}
